<h1>編輯商品規格</h1>
<div id="serviceEditPage"></div>
<%= render 'form', brand: @brand, product: @product, service: @service %>
<% if current_user %>
<%= button_to "刪除", brand_product_service_path(@brand, @product, @service), method: :delete, class: "btn btn-danger", onclick: "return confirm('你確定要刪除嗎？')"%>
<% end %>
<%= link_to 'Back', root_path(brand_id: @brand.id , product_id: @product.id) %>
