
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000" size="5"><b>產品介紹</b></span></div>
<div><span style="font-size: 14pt;"><b>全新品</b></span></div>
<div><span style="font-size: 14pt;"><b>電芯製造地</b></span></div>
<div><span style="font-size: 14pt;"><b>商品組裝地</b></span></div>
<div><span style="font-size: 14pt;"><b>寄送與到貨天數</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000" size="5"><b>適用型號</b></span></div>
<div><span style="font-size: 14pt;"><b>IPad mini 1 / 2 / 3 / 4</b></span></div>
<div><span style="font-size: 14pt;"><b>IPad Pro 9.7吋 /12.9吋</b></span></div>
<div><span style="font-size: 14pt;"><b>IPad Pro 9.7吋 /12.9吋</b></span></div>
<div><span style="font-size: 14pt;"><b>IPad mini 1 / 2 / 3 / 4</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>商品說明</b></span></div>
<div><span style="font-size: 14pt;"><b>【保固期限】90天</b></span></div>
<div><span style="font-size: 14pt;"><b>【促銷活動】499免運費</b></span></div>
<div><span style="font-size: 14pt;"><b>【產品特點】頂級電路超優品質。</b></span></div>
<div><span style="font-size: 14pt;"><b>【珍愛地球】無外盒包裝。</b></span></div>
<div><span style="font-size: 14pt;"><b>【貼心提醒】千萬別選錯了喔。</b></span></div>
<div><span style="font-size: medium;" size="3"><b>&nbsp;</b></span></div>
<div style="text-align: center;"><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>★★一定要買★★</b></span></div>
<table style="width: 80%; margin-left: auto; margin-right: auto;" border="3" cellpadding="0" cellspacing="0">
<tfoot>
<tr>
<td style="text-align: left;"><a href="https://goods.ruten.com.tw/item/show?21916043877413" rel="noopener"><img src="https://img.ruten.com.tw/s1/e/40/25/21916043877413_483.jpg" border="0" alt="" width="100%" height="" /></a></td>
<td><a href="https://goods.ruten.com.tw/item/show?21917058711024" rel="noopener"><img src="https://img.ruten.com.tw/s2/b/61/f0/21917058711024_737.png" border="0" alt="" width="100%" height="" /></a></td>
<td><a href="https://goods.ruten.com.tw/item/show?21917058711024" rel="noopener"><img src="https://img.ruten.com.tw/s2/b/61/f0/21917058711024_737.png" border="0" alt="" width="100%" height="" /></a></td>
<td><a href="https://goods.ruten.com.tw/item/show?21917058711024" rel="noopener"><img src="https://img.ruten.com.tw/s2/b/61/f0/21917058711024_737.png" border="0" alt="" width="100%" height="" /></a></td>
</tr>
</tfoot>
</table>
<div><span style="font-size: medium;" size="3"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>注意事項</b></span></div>
<div><span style="font-size: 14pt;"><b>1.商品售出,無法退換貨 。</b></span></div>
<div><span style="font-size: 14pt;"><b>2.售價為DIY自行更換價格!</b></span></div>
<div><span style="font-size: 14pt;"><b>3.指導教學,須另外付費 。</b></span></div>
<div><span style="font-size: 14pt;"><b>4.臨時面交客人.請先聯繫!</b></span></div>
<div><span style="font-size: 14pt;"><b>5.歡迎蒞臨本店.現場維修 。</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>商品保固</b></span></div>
<div><span style="font-size: 14pt;"><b>電子商品享有保固7天。</b></span></div>
<div><span style="font-size: 14pt;"><b>零件商品享有保固7天。</b></span></div>
<div><span style="font-size: 14pt;"><b>電池商品享有保固90天。</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>保固範圍</b></span></div>
<div><span style="font-size: 14pt;"><b>．電池待機時間因使用日久縮短乃屬正常狀況，待機時 間縮短不屬保固範圍內。</b></span></div>
<div><span style="font-size: 14pt;"><b>．請搭配原廠或本店銷售之充電器使用，若因使用它牌 充電器導致過充或電池故障，恕無法列入保固。</b></span></div>
<div><span style="font-size: 14pt;"><b>．其它人為或外力因素等不當使 用均不予保固。</b></span></div>
<div><span style="font-size: 14pt;"><b>．商品需貼有本店之保固貼紙始享有保固，保固貼紙損毀者不予 保固。</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>使用須知</b></span></div>
<div><span style="font-size: 14pt;"><b>．電池請在充飽後續充1~2小時，可達最佳使用容量。</b></span></div>
<div><span style="font-size: 14pt;"><b>．為確保電池能使用較長壽命。</b></span></div>
<div><span style="font-size: 14pt;"><b>．充電時間請 勿超過24小時。</b></span></div>
<div><span style="font-size: 14pt;"><b>．請勿使用輸出電流過高的充電器進行充電。</b></span></div>
<div><span style="font-size: x-large;" size="5"><b>&nbsp;</b></span></div>
<div><span style="color: #ff0000; font-size: 18pt;" color="#ff0000"><b>商品說明</b></span></div>
<div><span style="font-size: 14pt;"><b>版本多種，收到的商品可能與照片不同，恕無法因版本 不同而要求退換貨。</b></span>
<div><span style="font-size: medium;" size="3"><b>&nbsp;</b></span></div>
<div style="text-align: center;"><img src="https://picsum.photos/200" border="0" width="60%" /></div>
<div style="text-align: center;"><img src="https://e.rimg.com.tw/s2/0/cb/ea/21848078281706_789_m.jpg" border="0" width="60%" /></div>
<div style="text-align: center;"><img src="https://picsum.photos/200" border="0" width="60%" /></div>
</div>