<a href="#" id="preview" class="btn btn-primary">預覽html</a>

<div id="preview">
  <% if @category && @category == 'yahoo'  %>
  <h2>Yahoo HTML</h2>
  <div id="previewYahoo"></div>
  <div id="sourceCodeYahoo""></div>
  <%  else %>
  <h2>Ruten HTML</h2>
  <div id="previewRuten"></div>
  <div id="sourceCodeRuten"></div>
  <%  end %>
</div>