<a href="#" id="previewYahooBtn" class="btn btn-primary">預覽yahoo html</a>
<a href="#" id="previewRutenBtn" class="btn btn-success">預覽ruten html</a>
<a href="#" id="previewShopeeBtn" class="btn btn-info">預覽shopee html</a>
<a href="#" id="removePreview" class="btn">取消預覽</a>
<div id="preview">
  <div id="previewYahooDiv">
    <h2>Yahoo HTML</h2>
    <div id="previewYahoo"></div>
    <h3>HTML源碼</h3>
    <button id="copySourceCodeYahoo" class="btn btn-success">複製HTML源碼</button>
    <div id="sourceCodeYahoo"></div>
  </div>
  <div id="previewRutenDiv">
    <h2>露天 HTML</h2>
    <div id="previewRuten"></div>
    <h3>HTML源碼</h3>
    <button id="copySourceCodeRuten" class="btn btn-success">複製HTML源碼</button>
    <div id="sourceCodeRuten"></div>
    
  </div>
  <div id="previewShopeeDiv">
    <h2>蝦皮 HTML</h2>
    <div id="previewShopee" style="display:none"></div>
    <h3>排版</h3>
    <button id="copySourceCodeShopee" class="btn btn-success">複製文字</button>
    <div id="sourceCodeShopee"></div>
  </div>
<div>