<h1>編輯商品</h1>

<%= render 'form', product: @product %>
<div class="form-group">
  <%= button_to "刪除", @product, method: :delete, onclick: "return confirm('你確定要刪除嗎？')", class: "btn btn-danger"%>
</div>
<%= link_to '返回', root_path, class: "btn btn-primary"%>
