<h1>編輯商品</h1>
<div id="productEditPage"></div>
<%= render 'form', brand: @brand, product: @product %>
<% if current_user %>
<div class="form-group">
  <%= button_to "刪除", brand_product_path, method: :delete, onclick: "return confirm('你確定要刪除嗎？')", class: "btn btn-danger"%>
</div>
<% end %>
<%= link_to '返回', root_path, class: "btn btn-primary"%>
